// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2026 faveoled
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/media/sprd-camsys.h>
#include <dt-bindings/usb/pd.h>
#include "ums9230.dtsi"
#include "sc2730.dtsi"

/ {
	model = "Realme C35 (RMX3511)";

	compatible = "realme,rmx3511", "sprd,ums9230";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		mmc0 = &sdio0;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
		i2c6 = &i2c6;
		i2c7 = &aon_i2c0;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		bootargs = "console=tty0 clk_ignore_unused pd_ignore_unused regulator_ignore_unused pmos.nosplash pmos.boot_uuid=99359e73-bcf4-467a-ba3c-8ac1e8892634 pmos.root_uuid=dc751f8c-8adf-4415-baad-85fdfdddc720";

		linux,initrd-start = <0 0xa0000000>;
		linux,initrd-end = <0 0xa256eefa>;
		
		//stdout-path = "framebuffer";

		framebuffer: framebuffer@9e000000 {
			compatible = "simple-framebuffer";
			//reg = <0 0x9e000000 0 (1080 * 2408 * 4)>;
			memory-region = <&framebuffer_region>;			
			width = <1080>;
			height = <2408>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";
			
			status = "disabled"; /* display driver is enabled */
		};


	};

	memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0xfffff000>;
	};

	reserved-memory {


		framebuffer_region: memory@9e000000 {
			reg = <0 0x9e000000 0 (1080 * 2408 * 4)>;
			iommu-addresses = <&dpu 0x9e000000 (1080 * 2408 * 4)>;
			no-map;
		};

		linux,cma {
			compatible = "shared-dma-pool";
			size = <0x0 0x8000000>;
			reusable;
			linux,cma-default;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		key-power {
			wakeup-source;
			debounce-interval = <2>;
			gpios = <&pmic_eic 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
		};

		key-volumeup {
			wakeup-source;
			debounce-interval = <2>;
			gpios = <&pmic_eic 4 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_VOLUMEUP>;
		};


		key-volumedown {
			wakeup-source;
			debounce-interval = <2>;
			gpios = <&ap_gpio 124 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
		};

	};

};


&hsphy {
	status = "okay";

	phy-supply = <&vddusb33>;
};


&usb {
	status = "okay";
	dr_mode = "peripheral";

};


&sdio0 {
	status = "okay";

	vmmc-supply = <&vddsdcore>;
	vqmmc-supply = <&vddsdio>;
	cd-gpios = <&eic_async 35 GPIO_ACTIVE_HIGH>;

	bus-width = <4>;
	no-sdio;
	no-mmc;
	sprd,phy-delay-sd-uhs-sdr104 = <0x7f 0x73 0x72 0x72>;
	sprd,phy-delay-sd-uhs-sdr50 = <0x6e 0x7f 0x01 0x01>;
	sprd,phy-delay-sd-highspeed = <0x7f 0x1a 0x9a 0x9a>;
	sprd,phy-delay-legacy = <0x7f 0x1a 0x9a 0x9a>;
	sd-uhs-sdr104;
	sd-uhs-sdr50;
};


&ufs {
	status = "okay";
	vcc-supply = <&vddemmccore>;
};


&spi3 {
	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";

	nt36xxx: touchscreen@0 {
		compatible = "novatek,nt36xxx-spi";
		reg = <0>;

		spi-max-frequency = <9600000>;

		reset-gpio = <&ap_gpio 146 GPIO_ACTIVE_HIGH>;
		irq-gpio = <&eic_async 16 GPIO_ACTIVE_HIGH>;

		firmware-name = "novatek_cs_fw.bin";
	};
};


&disp {
	status = "okay";
};

&dpu {
	status = "okay";

	memory-region = <&framebuffer_region>;
};

&dsi {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "novatek,nt36672c-1080x2408-panel";
		reg = <0>;
		reset-gpios = <&ap_gpio 50 GPIO_ACTIVE_HIGH>;
		// backlight = <&backlight>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
};

&dsi_out {
	remote-endpoint = <&panel_in>;
};


&gpu {
	status = "okay";

	mali-supply = <&vddgpu>;
};


&wcn {
	enable-gpios = <&ap_gpio 116 GPIO_ACTIVE_LOW>;
	reset-gpios = <&ap_gpio 177 GPIO_ACTIVE_LOW>;
	vdd-supply = <&vddwcn>;
	vddwifipa-supply = <&vddwifipa>;
	dcxo1v8-supply = <&vddsim2>;
	status = "okay";
};



